table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  font-size:20px;
}

th {
  background-color: #a87e0c;
  font-size:30px;;
}
.set{
    background-color: rgb(0, 255, 191);
    height:100vh;
}