.forget{
    font-size:20px;
    color: black;
    text-decoration:none;
}
.forget:hover{
    color:gold;
    text-decoration:underline;
    cursor:no-drop;
    font-size: x-large;
}
button{

    color:white;
    border:none;
    background-color: blue;
    
    width:5%;
    border-radius:15%;

}
button:hover{
    background-color: aqua;
    color:white;
}
.set{
    border: 4px solid rgb(0, 3, 3);
   
    width:60%;
    height:70vh;
    display:flex;
    flex-direction:column;
    justify-content: start;
}
input{
    height:30px;
    width:70%;
    border-radius:10px;
}
h1{
    font-size:40;
}
