h1{
    font-size:44px;;
    text-align:center;
    font-family:Times New Roman;
}
h4{
    text-align:center;
}

input{
    text-align: center;
    height:35px;
    width:25%;
    border-radius:20px;
    background-color:rgba(0, 255, 247, 0.153);
}
.set{
    font-size:15px;
    font-family: 'Gill Sans';
}
 button{
    height:40px;
    width:25%;
    border-radius:20px;
    background-color: rgba(238, 255, 0, 0.831);
    color: black;
 }
 .pass{
    height: 35px;
    width: 10%;
    border-radius:20px;
    background-color: white;

 }

 .border{
    margin: 10px;
    display:flex;
    flex-direction: column;
    background-image:url('./login page2.jpg');
 }
button:hover{
     background-color:gold;
}
.tell{
    border:none;
    width:100%;
    height: 70vh;
}
.time{
    border:3px solid black;
}